*{margin:0;padding:0;box-sizing:border-box;font-family:'Poppins',sans-serif}
body{background:#000;color:white}

header{
padding:20px;
text-align:center;
font-size:24px;
font-weight:bold;
background:#111;
}

.logo img{
  height: 150px; 
  display:block;
}

.hero{
position:relative;
height:100vh;
overflow:hidden;
display:flex;
justify-content:center;
align-items:center;
text-align:center;
}

.bg-video{
position:absolute;
width:100%;
height:100%;
object-fit:cover;
z-index:-1;
filter:brightness(60%);
}

.hero-content h1{
font-size:4rem;
letter-spacing:3px;
}

.btn{
display:inline-block;
margin-top:20px;
padding:12px 30px;
background:#ff4d6d;
color:white;
border-radius:30px;
text-decoration:none;
transition:0.3s;
}

.btn:hover{background:white;color:black}

.products{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(280px,1fr));
gap:30px;
padding:60px;
background:#111;
}

.card{
background:#1a1a1a;
border-radius:20px;
overflow:hidden;
cursor:pointer;
transition:0.4s;
}

.card:hover{transform:scale(1.05)}

.card img{
width:100%;
height:300px;
object-fit:cover;
}

.card-content{
padding:20px;
text-align:center;
}

.price{
color:#ff4d6d;
margin-top:10px;
}

.popup{
display:none;
position:fixed;
top:0;
left:0;
width:100%;
height:100%;
background:rgba(0,0,0,0.8);
justify-content:center;
align-items:center;
}

.popup-content{
background:#111;
padding:30px;
border-radius:20px;
text-align:center;
width:90%;
max-width:400px;
}

.popup-content img{
width:100%;
border-radius:15px;
}

.close{
position:absolute;
right:20px;
top:20px;
cursor:pointer;
font-size:30px;
}

.whatsapp-float{
position:fixed;
bottom:20px;
right:20px;
background:#25D366;
color:white;
font-size:30px;
padding:15px;
border-radius:50%;
text-decoration:none;
}